In [1]:
# Libraries required for the proposal
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse) 
library(tidymodels)
library(datasets)
library(rvest)
library(tibble) 
library(httr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::lag()       masks stats::lag()
✖ lubridate::stamp() masks cowplot::stamp()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ modeldata    1.2.0     ✔ workflows    1.1.3
✔ parsnip      1.1.1     ✔ workflowsets 1.0.1
✔ recipes      1.0.8     ✔ yardstick    1.2.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.


Attaching package: ‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding

In [8]:
test_read <- read_csv('./student_prediction.csv')
head(test_read) # First 6 data

Rows: 145 Columns: 33
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): STUDENTID
dbl (32): AGE, GENDER, HS_TYPE, SCHOLARSHIP, WORK, ACTIVITY, PARTNER, SALARY...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  STUDENTID AGE GENDER HS_TYPE SCHOLARSHIP WORK ACTIVITY PARTNER SALARY
1 STUDENT1  2   2      3       3           1    2        2       1
2 STUDENT2  2   2      3       3           1    2        2       1
3 STUDENT3  2   2      2       3           2    2        2       2
4 STUDENT4  1   1      1       3           1    2        1       2
5 STUDENT5  2   2      1       3           2    2        1       3
6 STUDENT6  2   2      2       3           2    2        2       2
  TRANSPORT ⋯ PREP_STUDY PREP_EXAM NOTES LISTENS LIKES_DISCUSS CLASSROOM
1 1         ⋯ 1          1         3     2       1             2
2 1         ⋯ 1          1         3     2       3             2
3 4         ⋯ 1          1         2     2       1             1
4 1         ⋯ 1          2         3     2       2             1
5 1         ⋯ 2          1         2     2       2             1
6 1         ⋯ 1          1         1     2       1             2
  CUML_GPA EXP_GPA COURSE ID GRADE
1 1        1       1         1
2 2        3       1         1
3 2        2       1         1
4 3        2       1         1
5 2        2       1         1
6 4        4       1         2

In [7]:
test_read |> summarize(PartnerCount = sum(PARTNER == 1),
                       NoPartnerCount = sum(PARTNER == 2))

  PartnerCount NoPartnerCount
1 61           84