# STAT 201 Group Proposal Group 27
___________________________________________

# Title: Relationships on Academic Performance

## Introduction:

Add dataset here

### Preliminary Results

In [26]:
# Libraries required for the proposal
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse) 
library(tidymodels)
library(datasets)
library(rvest)
library(tibble) 
library(httr)

In [ ]:
student_gpa <- read_csv('https://github.com/anjx123/stats201-group-project/blob/Dataset-Refactor/student_prediction.csv')
head(student_gpa) # First 6 data

In [14]:
student_gpa |> summarize(PartnerCount = sum(PARTNER == 1),
                       NoPartnerCount = sum(PARTNER == 2))

  PartnerCount NoPartnerCount
1 61           84

### Data wrangling

Whether a person has a partner or not is represented by 1- for Yes and 2- for No. We tidy this up so that it is much more clear to read and understand. In the process, we select the two columns that we are interested in, whether an individual has a partner, and their cumulative GPA.
We can then group these students by whether they have a partner or not, and calculate the sample mean of their cumulative GPA.

In [23]:
partner_data <- student_gpa |> select(STUDENTID, PARTNER, CUML_GPA) |> mutate(PARTNER = recode(PARTNER, '1' = "Yes", '2' = "No"))
head(partner_data)

  STUDENTID PARTNER CUML_GPA
1 STUDENT1  No      1
2 STUDENT2  No      2
3 STUDENT3  No      2
4 STUDENT4  Yes     3
5 STUDENT5  Yes     2
6 STUDENT6  No      4

In [22]:
mean_gpas <- partner_data |> group_by(PARTNER) |> summarize(GPA = mean(CUML_GPA))
head(mean_gpas)

  PARTNER GPA
1 No      3.059524
2 Yes     3.213115

### Methods: Plan

### References