In [15]:
# Libraries required for the proposal
set_seed(11)
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse) 
library(tidymodels)
library(datasets)
library(rvest)
library(tibble) 
library(httr)

ERROR: Error in set_seed(11): could not find function "set_seed"

In [13]:
student_gpa <- read_csv('./student_prediction.csv')
head(student_gpa) # First 6 data

Rows: 145 Columns: 33
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): STUDENTID
dbl (32): AGE, GENDER, HS_TYPE, SCHOLARSHIP, WORK, ACTIVITY, PARTNER, SALARY...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  STUDENTID AGE GENDER HS_TYPE SCHOLARSHIP WORK ACTIVITY PARTNER SALARY
1 STUDENT1  2   2      3       3           1    2        2       1
2 STUDENT2  2   2      3       3           1    2        2       1
3 STUDENT3  2   2      2       3           2    2        2       2
4 STUDENT4  1   1      1       3           1    2        1       2
5 STUDENT5  2   2      1       3           2    2        1       3
6 STUDENT6  2   2      2       3           2    2        2       2
  TRANSPORT ⋯ PREP_STUDY PREP_EXAM NOTES LISTENS LIKES_DISCUSS CLASSROOM
1 1         ⋯ 1          1         3     2       1             2
2 1         ⋯ 1          1         3     2       3             2
3 4         ⋯ 1          1         2     2       1             1
4 1         ⋯ 1          2         3     2       2             1
5 1         ⋯ 2          1         2     2       2             1
6 1         ⋯ 1          1         1     2       1             2
  CUML_GPA EXP_GPA COURSE ID GRADE
1 1        1       1         1
2 2        3       1         1
3 2        2       1         1
4 3        2       1         1
5 2        2       1         1
6 4        4       1         2

In [14]:
student_gpa |> summarize(PartnerCount = sum(PARTNER == 1),
                       NoPartnerCount = sum(PARTNER == 2))

  PartnerCount NoPartnerCount
1 61           84

### Data wrangling

Whether a person has a partner or not is represented by 1- for Yes and 2- for No. We tidy this up so that it is much more clear to read and understand. In the process, we select the two columns that we are interested in, whether an individual has a partner, and their cumulative GPA.

In [23]:
partner_data <- student_gpa |> select(STUDENTID, PARTNER, CUML_GPA) |> mutate(PARTNER = recode(PARTNER, '1' = "Yes", '2' = "No"))
head(partner_data)

  STUDENTID PARTNER CUML_GPA
1 STUDENT1  No      1
2 STUDENT2  No      2
3 STUDENT3  No      2
4 STUDENT4  Yes     3
5 STUDENT5  Yes     2
6 STUDENT6  No      4

In [22]:
mean_gpas <- partner_data |> group_by(PARTNER) |> summarize(GPA = mean(CUML_GPA))
head(mean_gpas)

  PARTNER GPA
1 No      3.059524
2 Yes     3.213115