# STAT 201 Group Proposal Group 27
___________________________________________

### Introduction

Our project is to research on the unemployment rate between if American Black Men and Women who possess and White Men and Women who alsoposess  The data was obtained from Kaggle at https://www.kaggle.com/datasets/asaniczka/unemployment-rates-by-demographics-1978-2023?rvi=1. The data contains the unemployment rate from 1978-2023.

### Method

We will consider use the dataset to compare the spread of age of unemployment for different ethnicity, gender and the education level... **(TBC)** The code below loads the libraries that are required for the proposal in order for various tasks to run and parsing of the codes to read the CSV file that is uploaded to GitHub.

In [2]:
# Libraries required for the proposal
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse) 
library(tidymodels)
library(datasets)
library(rvest)
library(tibble) 
library(httr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::lag()       masks stats::lag()
✖ lubridate::stamp() masks cowplot::stamp()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ modeldata    1.2.0     ✔ workflows    1.1.3
✔ parsnip      1.1.1     ✔ workflowsets 1.0.1
✔ recipes      1.0.8     ✔ yardstick    1.2.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/


Attaching package: ‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding

In [3]:
# Reading of CSV file from GitHub
test_read <- read_csv("https://raw.githubusercontent.com/anjx123/stats201-group-project/main/unemployed_population_1978-12_to_2023-07_original.csv")
head(test_read) # First 6 data
tail(test_read) # Last 6 data

Rows: 536 Columns: 122
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (121): all, 16-24, 25-54, 55-64, 65+, less_than_hs, high_school, some_c...
date   (1): date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  date       all 16-24 25-54 55-64 65+ less_than_hs high_school some_college
1 2023-07-01 3.6 7.8   3.1   2.4   2.7 7.0          4.8         3.4
2 2023-06-01 3.6 7.8   3.1   2.4   2.8 7.1          4.8         3.4
3 2023-05-01 3.6 7.9   3.0   2.4   2.8 7.1          4.8         3.4
4 2023-04-01 3.6 7.9   3.0   2.4   2.8 7.1          4.8         3.4
5 2023-03-01 3.6 8.0   3.0   2.5   2.8 7.1          4.8         3.5
6 2023-02-01 3.6 8.1   3.0   2.4   2.9 7.2          4.8         3.5
  bachelor's_degree ⋯ white_men_16-24 white_men_25-54 white_men_55-64
1 2.4               ⋯ 7.0             2.5             2.1
2 2.4               ⋯ 7.0             2.5             2.1
3 2.4               ⋯ 7.0             2.5             2.1
4 2.4               ⋯ 7.0             2.5             2.2
5 2.4               ⋯ 7.1             2.5             2.2
6 2.4               ⋯ 7.2             2.5             2.2
  white_men_65+ white_men_less_than_hs white_men_high_school
1 2.4           7.0                    3.8
2 2.5           7.0                    3.8
3 2.5           6.9                    3.8
4 2.5           6.9                    3.8
5 2.5           6.8                    3.9
6 2.6           6.8                    3.9
  white_men_some_college white_men_bachelor's_degree white_men_advanced_degree
1 2.8                    2.1                         1.6
2 2.9                    2.1                         1.6
3 2.9                    2.1                         1.6
4 2.9                    2.1                         1.6
5 2.9                    2.1                         1.7
6 2.9                    2.1                         1.7
  population_over_16
1 267002000
2 266801000
3 266618000
4 266443000
5 266272000
6 266112000

  date       all 16-24 25-54 55-64 65+ less_than_hs high_school some_college
1 1979-05-01 5.9 11.9  4.2   2.8   3.7  9.9         5.3         4.9
2 1979-04-01 5.9 11.9  4.2   2.8   3.7  9.9         5.4         4.9
3 1979-03-01 6.0 12.0  4.3   2.8   3.8  9.9         5.4         4.9
4 1979-02-01 6.0 12.2  4.3   2.8   3.8  9.9         5.4         5.0
5 1979-01-01 6.1 12.3  4.3   2.9   3.7 10.0         5.5         5.0
6 1978-12-01 6.1 12.4  4.3   2.9   3.8 10.0         5.5         5.0
  bachelor's_degree ⋯ white_men_16-24 white_men_25-54 white_men_55-64
1 2.9               ⋯ 9.4             2.8             2.3
2 3.0               ⋯ 9.4             2.8             2.3
3 3.0               ⋯ 9.4             2.8             2.4
4 3.0               ⋯ 9.6             2.8             2.4
5 3.1               ⋯ 9.7             2.9             2.5
6 3.1               ⋯ 9.7             2.9             2.5
  white_men_65+ white_men_less_than_hs white_men_high_school
1 3.4           7.6                    3.8
2 3.5           7.5                    3.8
3 3.5           7.5                    3.8
4 3.5           7.6                    3.9
5 3.5           7.6                    3.9
6 3.6           7.6                    4.0
  white_men_some_college white_men_bachelor's_degree white_men_advanced_degree
1 3.6                    2.0                         1.3
2 3.6                    2.0                         1.3
3 3.6                    2.1                         1.3
4 3.6                    2.1                         1.4
5 3.7                    2.1                         1.4
6 3.7                    2.1                         1.4
  population_over_16
1 164459000
2 164162000
3 164027000
4 163726000
5 163516000
6 163272000

                                               Figure 1

Figure 1 shows the first and last 6 data that is obtained from ```read_csv```. Given that we are interested in only finding the... **TBC**

### Data Wrangling

The code as shown below filters the columns and data that is required to answer our inference on whether does black women who possess a bacherlor's degree have a higher unemployment rates as compared to white women who also possess a bachelor's degree.

In [9]:
req_data <- test_read |>
    select(date,`black_bachelor's_degree`, `white_bachelor's_degree`) 
    

head(req_data)

  date       black_bachelor's_degree white_bachelor's_degree
1 2023-07-01 3.4                     2.1
2 2023-06-01 3.4                     2.1
3 2023-05-01 3.4                     2.1
4 2023-04-01 3.5                     2.1
5 2023-03-01 3.6                     2.1
6 2023-02-01 3.6                     2.1

In [16]:
bach_median <- req_data |> 
        summarise(black_bach_median = median(`black_bachelor's_degree`),
                 white_bach_median = median(`white_bachelor's_degree`)) 

bach_median

  black_bach_median white_bach_median
1 4.5               2.7

Which is the sample statistic

We decide to use a seed of 5638.

In [20]:
## By bootstrapping, where replace = TRUE
set.seed(5638)   ## To ensure consistent result

black_bachelor <- req_data |>
    rep_sample_n(reps = 1000, size = 40, replace = TRUE) |>
    group_by(replicate) |>
    summarise(bootstrap_median = median(`black_bachelor's_degree`))

head(black_bachelor)
tail(black_bachelor)

  replicate bootstrap_median
1 1         4.5
2 2         4.8
3 3         4.9
4 4         4.8
5 5         4.3
6 6         4.7

  replicate bootstrap_median
1  995      5.15
2  996      4.35
3  997      4.80
4  998      4.30
5  999      4.50
6 1000      4.50

A 95% confidence interval would be ideal for the test. The code below shows the lower quantile and higher quantile.

In [23]:
# lower_quantile <- black_women_bachelor |>
#     pull(bootstrap_median) |>
#     quantile(0.025)

# lower_quantile

# upper_quantile <- black_women_bachelor |>
#     pull(bootstrap_median) |>
#     quantile(0.975)

# upper_quantile


ci <- black_bachelor |>
    summarise(ci_lower = quantile(bootstrap_median, 0.025),     # 95% conf. interval
                ci_upper = quantile(bootstrap_median, 0.975)) 

head(ci)

  ci_lower ci_upper
1 4        5.2

### Preliminary Results

The code below shows the preliminary results that we have obtained for taking the upper and lower quantile, the code for the plot of confidence interval is as shown.

### Methods: Plan